<!doctype html>
<html lang="en" ng-app="nvClone">
    <head>
        <meta charset="utf-8">
        <title>nvClone</title>
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body ng-controller="AppCtrl" ng-style="styles.body">
        <div ng-controller="NotesCollectionCtrl">
            <div id="magic-bar" ng-style="styles.magicBar">
                <input type="text" placeholder="Search or Create" ng-model="input.q" ng-keypress="keypressHandler($event)"> 
            </div>
            <ul class='notes'>
               <li ng-repeat="(id, note) in notes | filterNotes:'title':input.q">
                <a ng-href="#/note/{{id}}">
                    <strong>{{note.title}}</strong> {{note.body | truncate}}
                </a><span ng-click="removeNote(id)">x</span>
                </li>
            </ul>
        </div>
        <div ng-view></div>

        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
