<!doctype html>
<html lang="en" ng-app="nvClone">
    <head>
        <meta charset="utf-8">
        <title>nvClone</title>
        <link rel="stylesheet" href="css/app.css"/>
    </head>
    <body>
        <div ng-controller="NotesCollectionCtrl">
            <input type="text" ng-model="query" > 
            <ul class='notes'>
                <li ng-repeat="note in notes | filter:query">
                <a ng-href="#/note/{{note.id}}">
                    {{note.title}} {{note.body | truncate}}
                </a>
                </li>
            </ul>
        </div>
        <div ng-view></div>

        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-route/angular-route.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
